@page "/"
<h3>Declarative Babylon</h3>
<BabylonCanvas ID="babylon5" PrepareStage="prepareStage" PrepareScene="prepareScene" style="width: 80%;height: 500px;">
		<AnimationButton ElementID="babylon5" Animation="Idle" />
		<AnimationButton ElementID="babylon5" Animation="Walk" />
		<AnimationButton ElementID="babylon5" Animation="Run" />
		<LoadMeshButton ElementID="babylon5" FileName="dummy3.babylon.json" MeshName="YBot" />
		<RemoveMeshButton ElementID="babylon5" MeshName="YBot" />
</BabylonCanvas>
<pre><code>@($@"<BabylonCanvas PrepareStage=""prepareStage"" PrepareScene=""prepareScene"" Context=""ID"">
 <AnimationButton ElementID=""@ID"" Animation=""Idle"" />
 <AnimationButton ElementID=""@ID"" Animation=""Walk"" />
 <AnimationButton ElementID=""@ID"" Animation=""Run"" />
 <LoadMeshButton ElementID=""babylon5"" FileName=""dummy3.babylon.json"" MeshName=""YBot"" />
 <RemoveMeshButton ElementID=""@ID"" MeshName=""YBot"" />
</BabylonCanvas>
")</code></pre>

